@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --background: #fafafa;
    --foreground: #0a0a0a;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}

.mask-image-y {
  mask-image: linear-gradient(to bottom,
  rgba(0, 0, 0, 0) 5%,
  rgba(0, 0, 0, 1) 50%,
  rgba(0, 0, 0, 0) 95%);
-webkit-mask-image: linear-gradient(to bottom,
  rgba(0, 0, 0, 0) 5%,
  rgba(0, 0, 0, 1) 50%,
  rgba(0, 0, 0, 0) 95%);
}

.mask-image-x {
  mask-image: linear-gradient(to right,
  rgba(0, 0, 0, 0) 5%,
  rgba(0, 0, 0, 1) 50%,
  rgba(0, 0, 0, 0) 95%);
-webkit-mask-image: linear-gradient(to right,
  rgba(0, 0, 0, 0) 5%,
  rgba(0, 0, 0, 1) 50%,
  rgba(0, 0, 0, 0) 95%);
}