@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090909;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
